@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: "Roboto";
}

.body {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header {
    display: grid;
    text-align: center;
    line-height: 10vh;
    font-size: x-large;
    color: white;
}

.ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
 